*{margin:0;padding:0;}
/* ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã¯Â¿Â½Ã‚Â»ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚Â¥ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ£Ã…Â½Ã¯Â¿Â½ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã¯Â¿Â½Ã‚Â»ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚Â¥ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã…â€™ÃƒÂ«Ã‚ÂªÃ¢â‚¬â€�ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã¯Â¿Â½Ã‚Â»ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚Â¥ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚Â«ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã¯Â¿Â½Ã‚Â»ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚Â¥ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ£Ã…Â½Ã¯Â¿Â½ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã¯Â¿Â½Ã‚Â»ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚Â¥ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã…â€™ÃƒÂ«Ã‚ÂªÃ¢â‚¬â€�ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã¯Â¿Â½Ã‚Â»ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚ÂªÃƒÂ§Ã‚Â­Ã…â€™ÃƒÂ«Ã‚Â¥Ã¯Â¿Â½ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÅ½Ã‚Â»ÃƒÂ¬Ã¯Â¿Â½Ã‚Â»ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚Â¥ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ£Ã…Â½Ã¯Â¿Â½ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã¯Â¿Â½Ã‚Â»ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚Â¥ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã…â€™ÃƒÂ«Ã‚ÂªÃ¢â‚¬â€�ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã¯Â¿Â½Ã‚Â»ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚Â¥ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã…â€™ÃƒÂ«Ã‚ÂªÃ…Â¾ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã¯Â¿Â½Ã‚Â»ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚Â¥ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ£Ã…Â½Ã¯Â¿Â½ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã¯Â¿Â½Ã‚Â»ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚Â¥ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã…â€™ÃƒÂ«Ã‚ÂªÃ¢â‚¬â€�ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã¯Â¿Â½Ã‚Â»ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚Â¥ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚Â«ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã¯Â¿Â½Ã‚Â»ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚Â¥ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ£Ã…Â½Ã¯Â¿Â½ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã¯Â¿Â½Ã‚Â»ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚Â¥ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã…â€™ÃƒÂ«Ã‚ÂªÃ¢â‚¬â€�ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã¯Â¿Â½Ã‚Â»ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚ÂªÃƒÂ§Ã‚Â­Ã…â€™ÃƒÂ«Ã‚Â¥Ã¯Â¿Â½ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÅ½Ã‚Â»ÃƒÂ¬Ã¯Â¿Â½Ã‚Â»ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚Â¥ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ£Ã…Â½Ã¯Â¿Â½ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã¯Â¿Â½Ã‚Â»ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚Â¥ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã…â€™ÃƒÂ«Ã‚ÂªÃ¯Â¿Â½ÃƒÂ§Ã¢â€žÂ¢Ã‚Â²ÃƒÂ£Ã†â€™Ã‚Â«ÃƒÂ¬Ã…Â Ã‚Â¢ÃƒÂ¯Ã‚Â§Ã…Â¸ÃƒÂ«Ã¢â‚¬Â°Ã¢â‚¬ï¿½ÃƒÂ«Ã…â€œÃ‚Â®ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã†â€™Ã‚ÂµÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ¬Ã¢â‚¬Å¡Ã¢â‚¬Â¢ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ£Ã…Â½Ã¯Â¿Â½ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã¯Â¿Â½Ã‚Â»ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚Â¥ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã…â€™ÃƒÂ«Ã‚ÂªÃ¢â‚¬â€�ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã¯Â¿Â½Ã‚Â»ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚Â¥ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚Â«ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã¯Â¿Â½Ã‚Â»ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚Â¥ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ£Ã…Â½Ã¯Â¿Â½ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã¯Â¿Â½Ã‚Â»ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚Â¥ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã…â€™ÃƒÂ«Ã‚ÂªÃ¢â‚¬â€�ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã¯Â¿Â½Ã‚Â»ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚ÂªÃƒÂ§Ã‚Â­Ã…â€™ÃƒÂ«Ã‚Â¥Ã¯Â¿Â½ÃƒÂ«Ã‚Â¹Ã¢â‚¬Â ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ¬Ã¯Â¿Â½Ã‚Â»ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚Â¥ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ£Ã…Â½Ã¯Â¿Â½ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã¯Â¿Â½Ã‚Â»ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚Â¥ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã…â€™ÃƒÂ«Ã‚ÂªÃ¢â‚¬â€�ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã¯Â¿Â½Ã‚Â»ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ…Â¾ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂªÃ‚Â½Ã‚Â´ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã‚Â­Ã‚Â¿ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ¬Ã¯Â¿Â½Ã‚Â»ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚Â¥ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ£Ã…Â½Ã¯Â¿Â½ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã¯Â¿Â½Ã‚Â»ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚Â¥ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã…â€™ÃƒÂ«Ã‚ÂªÃ¢â‚¬â€�ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã¯Â¿Â½Ã‚Â»ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚Â¥ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚Â«ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã¯Â¿Â½Ã‚Â»ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚Â¥ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ£Ã…Â½Ã¯Â¿Â½ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã¯Â¿Â½Ã‚Â»ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚Â¥ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã…â€™ÃƒÂ«Ã‚ÂªÃ¢â‚¬â€�ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã¯Â¿Â½Ã‚Â»ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚ÂªÃƒÂ§Ã‚Â­Ã…â€™ÃƒÂ«Ã‚Â¥Ã¯Â¿Â½ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÅ½Ã‚Â»ÃƒÂ¬Ã¯Â¿Â½Ã‚Â»ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚Â¥ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ£Ã…Â½Ã¯Â¿Â½ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã¯Â¿Â½Ã‚Â»ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚Â¥ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã…â€™ÃƒÂ«Ã‚ÂªÃ¢â‚¬â€�ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã¯Â¿Â½Ã‚Â»ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚Â¥ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã…â€™ÃƒÂ«Ã‚ÂªÃ…Â¾ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã¯Â¿Â½Ã‚Â»ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚Â¥ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ£Ã…Â½Ã¯Â¿Â½ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã¯Â¿Â½Ã‚Â»ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚Â¥ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã…â€™ÃƒÂ«Ã‚ÂªÃ¢â‚¬â€�ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã¯Â¿Â½Ã‚Â»ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚Â¥ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚Â«ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã¯Â¿Â½Ã‚Â»ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚Â¥ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ£Ã…Â½Ã¯Â¿Â½ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã¯Â¿Â½Ã‚Â»ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚Â¥ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã…â€™ÃƒÂ«Ã‚ÂªÃ¢â‚¬â€�ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã¯Â¿Â½Ã‚Â»ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚ÂªÃƒÂ§Ã‚Â­Ã…â€™ÃƒÂ«Ã‚Â¥Ã¯Â¿Â½ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÅ½Ã‚Â»ÃƒÂ¬Ã¯Â¿Â½Ã‚Â»ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚Â¥ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ£Ã…Â½Ã¯Â¿Â½ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã¯Â¿Â½Ã‚Â»ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚Â¥ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã…â€™ÃƒÂ«Ã‚ÂªÃ¯Â¿Â½ÃƒÂ§Ã¢â€žÂ¢Ã‚Â²ÃƒÂ£Ã†â€™Ã‚Â«ÃƒÂ¬Ã…Â Ã‚Â¢ÃƒÂ¯Ã‚Â§Ã…Â¸ÃƒÂ«Ã¢â‚¬Â°Ã¯Â¿Â½ÃƒÂ«Ã…â€œÃ¯Â¿Â½ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…â€œÃ‚Â¦ÃƒÂ§Ã‚Â¶Ã‚Â­ÃƒÂªÃ‚Â³Ã‚Â©ÃƒÂ«Ã…â€œÃ¯Â¿Â½ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…â€œÃ‚Â´ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ¬Ã¯Â¿Â½Ã‚Â»ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ…Â¾ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã‚Â£Ã…Â¸ÃƒÂ«Ã…â€œÃ¯Â¿Â½ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…Â¸Ã‚Â¡ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…â€œÃ‚Â¦ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…â€œÃ¯Â¿Â½ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…Â¸Ã‚Â¡ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã¯Â¿Â½Ã‚Â¸ÃƒÂ£Ã¢â‚¬Â¦Ã¢â€šÂ¬ÃƒÂ¨Ã‚Â¢Ã¯Â¿Â½ÃƒÂ¬Ã…Â¾Ã¢â€žÂ¢ÃƒÂ«Ã¢â€žÂ¢Ã¢â‚¬ï¿½ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã…â€™ÃƒÂªÃ‚ÂµÃ‚Â²ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…â€œÃ¯Â¿Â½ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…Â¸Ã‚Â¥ÃƒÂ¨Ã‚Â£Ã¢â‚¬Â¢ÃƒÂ«Ã¢â€šÂ¬Ã¯Â¿Â½ÃƒÂ¬Ã‹Å“Ã¢â€žÂ¢ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ¬Ã¯Â¿Â½Ã‚Â»ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚ÂªÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã‚Â¤Ã†â€™ÃƒÂ¨Ã‚Â½Ã¢â‚¬Â¦ÃƒÂ¢Ã¢â‚¬ËœÃ‚Â¤ÃƒÂ¬Ã¯Â¿Â½Ã‚Â»ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ…Â¾ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã¢â‚¬ËœÃ¢â‚¬Â ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…â€œÃ¯Â¿Â½ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…Â¸Ã‚Â¥ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ£Ã¢â€šÂ¬Ã¢â‚¬Â¢ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ¬Ã¢â‚¬Å¡Ã¢â‚¬Â¢ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…â€œÃ¯Â¿Â½ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã‚Â£Ã…Â¾ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ¬Ã¢â‚¬Å¡Ã¢â‚¬Â¢ÃƒÂ§Ã‚Â­Ã…â€™ÃƒÂ«Ã¯Â¿Â½Ã‚Â¾ÃƒÂ¬Ã¢â‚¬ï¿½Ã¢â‚¬ÂºÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ¬Ã¢â‚¬Å¡Ã¢â‚¬Â¢ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã…â€™ÃƒÂ«Ã‚Â§Ã‚Â¶ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…â€œÃ¯Â¿Â½ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…Â¸Ã‚Â¥ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ¬Ã¢â‚¬ËœÃ¢â‚¬Â¦ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…â€œÃ¯Â¿Â½ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…Â¸Ã‚Â©ÃƒÂ¯Ã‚Â§Ã¯Â¿Â½ÃƒÂ¬Ã¢â‚¬Â¢Ã‚Â¯ÃƒÂ¬Ã¢â‚¬Â Ã‚Â¾ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂªÃ‚ÂºÃ¢â‚¬Å¡ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã¢â‚¬â„¢Ã‚Â§ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ«Ã…Â½Ã¯Â¿Â½ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…â€œÃ¯Â¿Â½ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…Â¸Ã‚Â¥ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂªÃ‚ÂºÃ¢â€žÂ¢ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã¯Â¿Â½Ã‚Â»ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚ÂªÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã‚Â¤Ã†â€™ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã‚Â¨Ã‚Â¯ÃƒÂ¬Ã¢â‚¬Å¡Ã¢â‚¬Â¢ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã…â€™ÃƒÂ«Ã‚Â§Ã‚Â¶ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…â€œÃ¯Â¿Â½ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…Â¸Ã‚Â¥ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ¬Ã¢â‚¬ËœÃ¢â‚¬Â¹ÃƒÂ¯Ã‚Â¦Ã‚Â«ÃƒÂ«Ã…Â¡Ã‚Â®ÃƒÂ¬Ã¢â‚¬ï¿½Ã‚Â­ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã‚ÂµÃ¢â‚¬ÂºÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã…â€™ÃƒÂªÃ‚ÂµÃ‚Â²ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…â€œÃ¯Â¿Â½ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…Â¸Ã‚Â©ÃƒÂ¯Ã‚Â§Ã¯Â¿Â½ÃƒÂ«Ã¯Â¿Â½Ã‚Â°ÃƒÂ¬Ã‹Å“Ã¢â€žÂ¢ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ¬Ã¯Â¿Â½Ã‚Â»ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚Â¥ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã…â€™ÃƒÂ«Ã‚ÂªÃ¢â‚¬â€�ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã¯Â¿Â½Ã‚Â»ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚ÂªÃƒÂ§Ã‚Â­Ã…â€™ÃƒÂ«Ã‚Â¥Ã¯Â¿Â½ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÅ½Ã‚Â»ÃƒÂ¬Ã¯Â¿Â½Ã‚Â»ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚Â¥ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ£Ã…Â½Ã¯Â¿Â½ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã¯Â¿Â½Ã‚Â»ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚Â¥ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã…â€™ÃƒÂ«Ã‚ÂªÃ¯Â¿Â½ÃƒÂ§Ã¢â€žÂ¢Ã‚Â²ÃƒÂ£Ã†â€™Ã‚Â«ÃƒÂ¬Ã…Â Ã‚Â¢ÃƒÂ¯Ã‚Â§Ã…Â¸ÃƒÂ«Ã¢â‚¬Â°Ã¯Â¿Â½ÃƒÂ«Ã…â€œÃ¯Â¿Â½ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã¢â‚¬â€œÃ‚Â¥ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂªÃ‚Â¶Ã‚Â¡ÃƒÂ¯Ã‚Â§Ã¯Â¿Â½ÃƒÂ«Ã¯Â¿Â½Ã‚Â°ÃƒÂ¬Ã‹Å“Ã¢â€žÂ¢ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ¬Ã¯Â¿Â½Ã‚Â»ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚Â¥ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã…â€™ÃƒÂ«Ã‚ÂªÃ¢â‚¬â€�ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã¯Â¿Â½Ã‚Â»ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚Â¥ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã…â€™ÃƒÂ«Ã‚Â±Ã‚ÂºÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…â€œÃ¯Â¿Â½ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…Â¸Ã‚Â¥ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã‚Â§Ã‚Â¶ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…â€œÃ¯Â¿Â½ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…Â¸Ã‚Â¥ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ¬Ã¢â‚¬ËœÃ¢â‚¬Â¦ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…â€œÃ¯Â¿Â½ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…Â¸Ã‚Â¥ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…Â¸Ã‚ÂªÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…â€œÃ¯Â¿Â½ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…Â¸Ã‚Â¥ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã‚Â§Ã‚Â¶ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…â€œÃ¯Â¿Â½ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…Â¸Ã‚Â¥ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ¬Ã¢â‚¬ËœÃ¢â‚¬Â¦ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…â€œÃ¯Â¿Â½ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…Â¸Ã‚Â¥ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂªÃ‚Â±Ã…Â¾ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…â€œÃ¯Â¿Â½ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…Â¸Ã‚Â¥ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã‚Â§Ã‚Â¶ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…â€œÃ¯Â¿Â½ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…Â¸Ã‚Â¥ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ¬Ã¢â‚¬ËœÃ¢â‚¬Â¹ÃƒÂ¯Ã‚Â¦Ã‚Â«ÃƒÂ«Ã…Â¡Ã‚Â®ÃƒÂ¬Ã¢â‚¬ï¿½Ã‚Â­ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã‚ÂªÃ‚Â±ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã…â€™ÃƒÂ«Ã‚Â§Ã‚Â¶ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…â€œÃ¯Â¿Â½ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…Â¸Ã‚Â¥ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ¬Ã¢â‚¬ËœÃ¢â‚¬Â¦ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…â€œÃ¯Â¿Â½ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…Â¸Ã‚Â¥ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…Â¸Ã‚ÂªÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã¯Â¿Â½Ã‚Â»ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚Â¥ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ£Ã…Â½Ã¯Â¿Â½ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…â€œÃ¯Â¿Â½ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…Â¸Ã‚Â¥ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã‚Â§Ã‚Â¶ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã¯Â¿Â½Ã‚Â»ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…â€œÃ¯Â¿Â½ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¯Ã‚Â¿Ã‚Â½ CSS */
@font-face {
	font-family:'NanumGothic';
	src: url('../font/NanumGothic.eot');
    src: url('../font/NanumGothic.eot?#iefix') format('embedded-opentype'),         
         url('../font/NanumGothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {font-size:14px; margin : 0 auto;}

p, h1, h2, h3, h4, h5, input, textarea, table, a, ul, li, span, div{
	font-family:"ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã¯Â¿Â½Ã‚Â»ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚Â¥ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ£Ã…Â½Ã¯Â¿Â½ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã¯Â¿Â½Ã‚Â»ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚Â¥ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã…â€™ÃƒÂ«Ã‚ÂªÃ¢â‚¬â€�ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã¯Â¿Â½Ã‚Â»ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚Â¥ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚Â«ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã¯Â¿Â½Ã‚Â»ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚Â¥ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ£Ã…Â½Ã¯Â¿Â½ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã¯Â¿Â½Ã‚Â»ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚Â¥ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã…â€™ÃƒÂ«Ã‚ÂªÃ¢â‚¬â€�ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã¯Â¿Â½Ã‚Â»ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚ÂªÃƒÂ§Ã‚Â­Ã…â€™ÃƒÂ«Ã‚Â¥Ã¯Â¿Â½ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÅ½Ã‚Â»ÃƒÂ¬Ã¯Â¿Â½Ã‚Â»ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚Â¥ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ£Ã…Â½Ã¯Â¿Â½ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã¯Â¿Â½Ã‚Â»ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚Â¥ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã…â€™ÃƒÂ«Ã‚ÂªÃ¢â‚¬â€�ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã¯Â¿Â½Ã‚Â»ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚Â¥ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã…â€™ÃƒÂ«Ã‚ÂªÃ…Â¾ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã¯Â¿Â½Ã‚Â»ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚Â¥ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ£Ã…Â½Ã¯Â¿Â½ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã¯Â¿Â½Ã‚Â»ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚Â¥ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã…â€™ÃƒÂ«Ã‚ÂªÃ¢â‚¬â€�ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã¯Â¿Â½Ã‚Â»ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚Â¥ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚Â«ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã¯Â¿Â½Ã‚Â»ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚Â¥ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ£Ã…Â½Ã¯Â¿Â½ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã¯Â¿Â½Ã‚Â»ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚Â¥ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã…â€™ÃƒÂ«Ã‚ÂªÃ¢â‚¬â€�ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã¯Â¿Â½Ã‚Â»ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚ÂªÃƒÂ§Ã‚Â­Ã…â€™ÃƒÂ«Ã‚Â¥Ã¯Â¿Â½ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÅ½Ã‚Â»ÃƒÂ¬Ã¯Â¿Â½Ã‚Â»ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚Â¥ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ£Ã…Â½Ã¯Â¿Â½ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã¯Â¿Â½Ã‚Â»ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚Â¥ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã…â€™ÃƒÂ«Ã‚ÂªÃ¯Â¿Â½ÃƒÂ§Ã¢â€žÂ¢Ã‚Â²ÃƒÂ£Ã†â€™Ã‚Â«ÃƒÂ¬Ã…Â Ã‚Â¢ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã‚ÂµÃ‚Â°ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã…â€™ÃƒÂ«Ã‚ÂªÃ‚Â§ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…â€œÃ¯Â¿Â½ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…Â¸Ã‚Â©ÃƒÂ¯Ã‚Â§Ã¯Â¿Â½ÃƒÂ«Ã¯Â¿Â½Ã‚Â°ÃƒÂ¬Ã‹Å“Ã¢â€žÂ¢ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ¬Ã¯Â¿Â½Ã‚Â»ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚Â¥ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã…â€™ÃƒÂ«Ã‚ÂªÃ¢â‚¬â€�ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã¯Â¿Â½Ã‚Â»ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚Â¥ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚Â«ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã¯Â¿Â½Ã‚Â»ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚Â¥ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ£Ã…Â½Ã¯Â¿Â½ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã¯Â¿Â½Ã‚Â»ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚Â¥ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã…â€™ÃƒÂ«Ã‚ÂªÃ¢â‚¬â€�ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã¯Â¿Â½Ã‚Â»ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚ÂªÃƒÂ§Ã‚Â­Ã…â€™ÃƒÂ«Ã‚Â¥Ã¯Â¿Â½ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ£Ã¯Â¿Â½Ã†â€™ÃƒÂ«Ã¢â‚¬Â¦Ã¢â‚¬Â¡ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã¢â‚¬Å¾ÃƒÂ­Ã¢â‚¬Â¹Ã¢â‚¬Å“ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ«Ã‚Â®Ã¯Â¿Â½ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã¢â‚¬ËœÃ¯Â¿Â½ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã¢â‚¬Å¾ÃƒÂ¬Ã¢â‚¬Å¾Ã‚Â¶ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã…â€™ÃƒÂªÃ‚ÂµÃ‚Â²ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…â€œÃ¯Â¿Â½ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…Â¸Ã‚Â¥ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã‚Â¹Ã¢â‚¬Å“ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…â€œÃ¯Â¿Â½ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…Â¸Ã‚Â¥ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã‚Â§Ã‚Â¶ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…â€œÃ¯Â¿Â½ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…Â¸Ã‚Â¥ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ¬Ã¢â‚¬ËœÃ¢â‚¬Â¹ÃƒÂ¯Ã‚Â¦Ã‚Â«ÃƒÂ«Ã…Â¡Ã‚Â®ÃƒÂ¬Ã¢â‚¬ï¿½Ã‚Â­ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã‚ÂµÃ¢â‚¬ÂºÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã…â€™ÃƒÂªÃ‚ÂµÃ‚Â²ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…â€œÃ¯Â¿Â½ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…Â¸Ã‚Â©ÃƒÂ¯Ã‚Â§Ã¯Â¿Â½ÃƒÂ«Ã¯Â¿Â½Ã‚Â°ÃƒÂ¬Ã‹Å“Ã¢â€žÂ¢ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ¬Ã¯Â¿Â½Ã‚Â»ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚Â¥ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã…â€™ÃƒÂ«Ã‚ÂªÃ¢â‚¬â€�ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã¯Â¿Â½Ã‚Â»ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚ÂªÃƒÂ§Ã‚Â­Ã…â€™ÃƒÂ«Ã‚Â¥Ã¯Â¿Â½ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÅ½Ã‚Â»ÃƒÂ¬Ã¯Â¿Â½Ã‚Â»ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚Â¥ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ£Ã…Â½Ã¯Â¿Â½ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã¯Â¿Â½Ã‚Â»ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚Â¥ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã…â€™ÃƒÂ«Ã‚ÂªÃ¢â‚¬â€�ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã¯Â¿Â½Ã‚Â»ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚Â¥ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã…â€™ÃƒÂ«Ã‚ÂªÃ…Â¾ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã¯Â¿Â½Ã‚Â»ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚Â¥ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ£Ã…Â½Ã¯Â¿Â½ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã¯Â¿Â½Ã‚Â»ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚Â¥ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã…â€™ÃƒÂ«Ã‚ÂªÃ¢â‚¬â€�ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã¯Â¿Â½Ã‚Â»ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚Â¥ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚Â«ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã¯Â¿Â½Ã‚Â»ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚Â¥ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ£Ã…Â½Ã¯Â¿Â½ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã¯Â¿Â½Ã‚Â»ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚Â¥ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã…â€™ÃƒÂ«Ã‚ÂªÃ¢â‚¬â€�ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã¯Â¿Â½Ã‚Â»ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚ÂªÃƒÂ§Ã‚Â­Ã…â€™ÃƒÂ«Ã‚Â¥Ã¯Â¿Â½ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÅ½Ã‚Â»ÃƒÂ¬Ã¯Â¿Â½Ã‚Â»ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚Â¥ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ£Ã…Â½Ã¯Â¿Â½ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã¯Â¿Â½Ã‚Â»ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚Â¥ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã…â€™ÃƒÂ«Ã‚ÂªÃ¯Â¿Â½ÃƒÂ§Ã¢â€žÂ¢Ã‚Â²ÃƒÂ£Ã†â€™Ã‚Â«ÃƒÂ¬Ã…Â Ã‚Â¢ÃƒÂ¯Ã‚Â§Ã…Â¸ÃƒÂ«Ã¢â‚¬Â°Ã¯Â¿Â½ÃƒÂ«Ã…â€œÃ¯Â¿Â½ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã¢â‚¬â€œÃ‚Â¥ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂªÃ‚Â¶Ã‚Â¡ÃƒÂ¯Ã‚Â§Ã¯Â¿Â½ÃƒÂ«Ã¯Â¿Â½Ã‚Â°ÃƒÂ¬Ã‹Å“Ã¢â€žÂ¢ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ¬Ã¯Â¿Â½Ã‚Â»ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚Â¥ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã…â€™ÃƒÂ«Ã‚ÂªÃ¢â‚¬â€�ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã¯Â¿Â½Ã‚Â»ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚Â¥ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚Â«ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã¯Â¿Â½Ã‚Â»ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚Â¥ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ£Ã…Â½Ã¯Â¿Â½ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã¯Â¿Â½Ã‚Â»ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚Â¥ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã…â€™ÃƒÂ«Ã‚ÂªÃ¢â‚¬â€�ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã¯Â¿Â½Ã‚Â»ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚ÂªÃƒÂ§Ã‚Â­Ã…â€™ÃƒÂ«Ã‚Â¥Ã¯Â¿Â½ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÅ½Ã‚Â»ÃƒÂ¬Ã¯Â¿Â½Ã‚Â»ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚Â¥ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ£Ã…Â½Ã¯Â¿Â½ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã¯Â¿Â½Ã‚Â»ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚Â¥ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã…â€™ÃƒÂ«Ã‚ÂªÃ¢â‚¬â€�ÃƒÂ§Ã¢â€žÂ¢Ã‚Â²ÃƒÂ£Ã†â€™Ã‚Â«ÃƒÂ¬Ã…Â Ã‚Â¢ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã¢â‚¬â„¢Ã‚Â§ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂªÃ‚ÂµÃ‚Â¢ÃƒÂ¦Ã¢â€šÂ¬Ã‚Â¨ÃƒÂ£Ã¢â‚¬Â¦Ã‚Â¼ÃƒÂ¬Ã¢â‚¬Å¡Ã¢â‚¬Â¢ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã¢â‚¬Å¾ÃƒÂ«Ã…Â½Ã‚Â¡ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã¯Â¿Â½Ã‚Â»ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚ÂªÃƒÂ§Ã‚Â­Ã…â€™ÃƒÂ«Ã¯Â¿Â½Ã‚Â¾ÃƒÂ¬Ã¢â‚¬ï¿½Ã¢â‚¬ÂºÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ¬Ã¢â‚¬Å¡Ã¢â‚¬Â¢ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã…â€™ÃƒÂ«Ã‚Â§Ã‚Â¶ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…â€œÃ¯Â¿Â½ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…Â¸Ã‚Â¥ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ¬Ã¢â‚¬ËœÃ¢â‚¬Â¦ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…â€œÃ¯Â¿Â½ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…Â¸Ã‚Â©ÃƒÂ¯Ã‚Â§Ã¯Â¿Â½ÃƒÂ¬Ã¢â€šÂ¬Ã‚Â¥ÃƒÂ«Ã…â€œÃ¯Â¿Â½ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…Â¸Ã‚Â¥ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã‚Â§Ã‚Â¶ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…â€œÃ¯Â¿Â½ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…Â¸Ã‚Â¥ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ¬Ã¢â‚¬ËœÃ¢â‚¬Â¦ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…â€œÃ¯Â¿Â½ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…Â¸Ã‚Â¥ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ¬Ã¢â‚¬ËœÃ…â€™ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…â€œÃ¯Â¿Â½ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…Â¸Ã‚Â¥ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã‚Â§Ã‚Â¶ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…â€œÃ¯Â¿Â½ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…Â¸Ã‚Â¥ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ¬Ã¢â‚¬ËœÃ¢â‚¬Â¦ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…â€œÃ¯Â¿Â½ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…Â¸Ã‚Â¥ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…Â¸Ã‚ÂªÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…â€œÃ¯Â¿Â½ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…Â¸Ã‚Â¥ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã‚Â§Ã‚Â¶ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…â€œÃ¯Â¿Â½ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…Â¸Ã‚Â¥ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ¬Ã¢â‚¬ËœÃ¢â‚¬Â¦ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…â€œÃ¯Â¿Â½ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…Â¸Ã‚Â©ÃƒÂ¯Ã‚Â§Ã¯Â¿Â½ÃƒÂ¬Ã¢â€šÂ¬Ã‚Â¥ÃƒÂ«Ã…â€œÃ¯Â¿Â½ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…Â¸Ã‚Â¥ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã‚Â§Ã‚Â¶ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…â€œÃ¯Â¿Â½ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…Â¸Ã‚Â¥ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ¬Ã¢â‚¬ËœÃ¢â‚¬Â¦ÃƒÂ¯Ã‚Â¦Ã‚Â«ÃƒÂ«Ã…Â¡Ã‚Â³ÃƒÂ­Ã¯Â¿Â½Ã‚Â¢ÃƒÂ¨Ã¢â‚¬Å¡Ã¢â‚¬Â°ÃƒÂ£Ã¯Â¿Â½Ã¢â‚¬Â ÃƒÂ¬Ã‹Å“Ã¢â€žÂ¢ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã¢â€šÂ¬Ã¢â‚¬Â¹ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…â€œÃ¯Â¿Â½ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…Â¸Ã‚Â¥ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã¢â‚¬â„¢Ã¢â‚¬Â¡ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…â€œÃ¯Â¿Â½ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…Â¸Ã‚Â¡ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã¢â‚¬â€œÃ¢â‚¬Â°ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã¯Â¿Â½Ã‚Â»ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚ÂªÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã‚Â¤Ã†â€™ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã‚Â¨Ã‚Â¯ÃƒÂ¬Ã¢â‚¬Å¡Ã¢â‚¬Â¢ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã…â€™ÃƒÂ«Ã‚Â§Ã‚Â¶ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…â€œÃ¯Â¿Â½ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…Â¸Ã‚Â¥ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã‚ÂªÃ‹Å“ÃƒÂ¯Ã‚Â¦Ã…Â ÃƒÂ«Ã¢â‚¬Â Ã¢â‚¬Å¡ÃƒÂ¬Ã‹Å“Ã¢â€žÂ¢ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã¢â‚¬Å¾ÃƒÂ«Ã¯Â¿Â½Ã‚Â©ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã…â€™ÃƒÂªÃ‚ÂµÃ‚Â²ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…â€œÃ¯Â¿Â½ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…Â¸Ã‚Â¡ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã‚Â Ã…Â ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã¯Â¿Â½Ã‚Â»ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚Â¥ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ£Ã…Â½Ã¯Â¿Â½ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã¯Â¿Â½Ã‚Â»ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚Â¥ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã…â€™ÃƒÂ«Ã‚ÂªÃ¢â‚¬â€�ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã¯Â¿Â½Ã‚Â»ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚ÂªÃƒÂ©Ã¢â‚¬ÂºÃ¢â‚¬Â¦ÃƒÂ«Ã…Â¡Ã‚Â­ÃƒÂ«Ã¢â‚¬Å¡Ã¢â€šÂ¬ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ¬Ã¢â‚¬Å¡Ã¢â‚¬Â¢ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã…â€™ÃƒÂ«Ã‚Â§Ã‚Â¶ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…â€œÃ¯Â¿Â½ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…Â¸Ã‚Â¥ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ¬Ã¢â‚¬ËœÃ¢â‚¬Â¹ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…â€œÃ¯Â¿Â½ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…Â¸Ã‚Â¥ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ«Ã¯Â¿Â½Ã¯Â¿Â½ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ¬Ã¢â‚¬Å¡Ã¢â‚¬Â¢ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã…â€™ÃƒÂ«Ã‚Â§Ã‚Â³ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã¢â‚¬ÂºÃ‚Â¾ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã‚Â£Ã¢â‚¬Â¡ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ¬Ã¢â‚¬Å¡Ã…â€™ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…â€™Ã…Â¡ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã‚Â®Ã¯Â¿Â½ÃƒÂ§Ã¢â‚¬Â¢Ã‚Â°ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã…â€™ÃƒÂ«Ã‚ÂµÃ‚Â¯ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã¢â‚¬Å¾Ã¯Â¿Â½ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…â€œÃ¯Â¿Â½ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…Â¸Ã‚Â©ÃƒÂ¯Ã‚Â§Ã¯Â¿Â½ÃƒÂ«Ã¯Â¿Â½Ã‚Â°ÃƒÂ¬Ã‹Å“Ã¢â€žÂ¢ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ¬Ã¯Â¿Â½Ã‚Â»ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚Â¥ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã…â€™ÃƒÂ«Ã‚ÂªÃ¯Â¿Â½ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…â€œÃ¯Â¿Â½ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…Â¸Ã‚Â¥ÃƒÂ¥Ã‚Â¤Ã‚Â·ÃƒÂ¢Ã¢â‚¬Å“Ã‚Â¨ÃƒÂ«Ã…â€œÃ¯Â¿Â½ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…Â¸Ã‚Â¥ÃƒÂ­Ã¯Â¿Â½Ã‚Â®ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã¢â‚¬Å¾ÃƒÂ«Ã…Â½Ã‚Â¡ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã¯Â¿Â½Ã‚Â»ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚ÂªÃƒÂ§Ã‚Â­Ã…â€™ÃƒÂ«Ã¯Â¿Â½Ã‚Â¾ÃƒÂ¬Ã¢â‚¬ï¿½Ã¢â‚¬ÂºÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ¬Ã¢â‚¬Å¡Ã¢â‚¬Â¢ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã…â€™ÃƒÂ«Ã‚Â§Ã‚Â¶ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…â€œÃ¯Â¿Â½ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…Â¸Ã‚Â¥ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ¬Ã¢â‚¬ËœÃ¢â‚¬Â¦ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…â€œÃ¯Â¿Â½ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…Â¸Ã‚Â©ÃƒÂ¯Ã‚Â§Ã¯Â¿Â½ÃƒÂ¬Ã¢â€šÂ¬Ã‚Â¥ÃƒÂ«Ã…â€œÃ¯Â¿Â½ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…Â¸Ã‚Â¥ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã‚Â§Ã‚Â¶ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…â€œÃ¯Â¿Â½ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…Â¸Ã‚Â¥ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ¬Ã¯Â¿Â½Ã‚Â¾ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…â€œÃ¯Â¿Â½ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…Â¸Ã‚Â¥ÃƒÂ¥Ã‚Â½Ã¢â‚¬ÂºÃƒÂ¢Ã¢â‚¬Å“Ã‚Â¨ÃƒÂ«Ã…â€œÃ¯Â¿Â½ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…Â¸Ã‚Â¥ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã‚Â§Ã‚Â¶ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…â€œÃ¯Â¿Â½ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…Â¸Ã‚Â¥ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ¬Ã¢â‚¬ËœÃ¢â‚¬Â¦ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…â€œÃ¯Â¿Â½ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…Â¸Ã‚Â¥ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…Â¸Ã‚ÂªÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…â€œÃ¯Â¿Â½ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…Â¸Ã‚Â¥ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã‚Â§Ã‚Â¶ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…â€œÃ¯Â¿Â½ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…Â¸Ã‚Â¥ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ¬Ã¢â‚¬ËœÃ¢â‚¬Â¦ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…â€œÃ¯Â¿Â½ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…Â¸Ã‚Â©ÃƒÂ¯Ã‚Â§Ã¯Â¿Â½ÃƒÂ¬Ã¢â‚¬Â¢Ã‚Â¾ÃƒÂ¬Ã‹Å“Ã¢â€žÂ¢ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ¬Ã¯Â¿Â½Ã‚Â»ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã…â€œÃ‚Â¥ÃƒÂ©Ã‚Â¸Ã…Â¡ÃƒÂ«Ã‚Â£Ã¯Â¿Â½ÃƒÂ«Ã‚Â«Ã¢â‚¬Â¦ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ¬Ã¢â‚¬Å¡Ã¢â‚¬Â¢ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã…â€™ÃƒÂ«Ã‚Â§Ã‚Â¶ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¬Ã…Â½Ã‹â€ ÃƒÂ¬Ã¯Â¿Â½Ã‚Â»ÃƒÂ¯Ã‚Â¿Ã‚Â½ÃƒÂ«Ã…â€œÃ¯Â¿Â½ÃƒÂ¥Ã¯Â¿Â½Ã‚Â ÃƒÂ¯Ã‚Â¿Ã‚Â½","NanumGothic";
	margin:0;
	font-weight:normal;
}
#wrap {
	width:100%;
}


<!-- rolling banner css overflow:hidden -->
.nav{margin:10px;}

.RollDiv{margin:0 auto; width:100%; height:60px;border:1px;color:white;white-space: nowrap;}  
.RollDiv > div{overflow:hidden;height:60px;width:100%;margin-top:12px;margin-bottom: 13px;}

.RollDiv > div > a{ float:left; display:block;}
.RollDiv > div > a > img{ width:180px; height:60px;margin-right:10px;}

.RollDiv > div > p{ min-width: 120px; max-width: 120px; color: rgb(189, 189, 189); display: inline-block;}


.input_login{
	width:250px;
	height:35px;	
	font-weight: bolder;
	padding-bottom: 5px;
}

.td_login{
	padding-bottom: 5px;
    padding-left: 90px;
    font-weight: bolder;    
    width:200px;
}


.td_date{
	font-size: small;
}

.td_title {
	font-weight: 800;
    background: white;
    color:#2f72c7;
}
.main_td_text {
	font-weight: 600;
	font-size: 12px;
}

/* nav */
.sub_nav_all {
	width:100%;
	text-align:center;
}
.sub_nav {
	width:1020px;
	display:inline-block;
	height:90px;
}
.logo {
	float:left;
	margin:14px 0 0 0;
}
.sub_nav ul {
	float:right;
	text-align:right;
	list-style:none;
	display:inline-block;
	margin:32px 0 0 0;
}
.sub_nav ul li {
	font-size: 14px;
	font-weight:bold;
	color:#6d6e6f;
	text-decoration:none;
	display:inline-block;
	padding-left:56px;
	vertical-align:middle;
}
.sub_nav ul li a {
	font-size: 14px;
	font-weight:bold;
	color:#6d6e6f;
	text-decoration:none;
}
.sub_nav ul li a:visited {font-size:14px; font-weight:bold; color:#6d6e6f; TEXT-DECORATION: none}
.sub_nav ul li a:active {font-size:14px; font-weight:bold; color:#6d6e6f; TEXT-DECORATION: none}
.sub_nav ul li a:hover {font-size:14px; font-weight:bold; color:#f58220; TEXT-DECORATION: none}

.sub_nav .nav_select {
	font-size: 14px;
	font-weight:bold;
	color:#f58220;
	text-decoration:none;
}

/* main_img */
#head_img {
	width:100%;
	height:70px;
	background-color:#000000;
	text-align:center;
	display:inline-block;
}
.head_img_inner {
	background:url(../images/main_img.png) center center no-repeat;
	width:1100px;
	height:250px;
	text-align:center;
	display:inline-block;
}
.head_text {
	text-align:left;
	width:1020px;
	display:inline-block;
	margin:5px 0 0 1px;
}
.sub_text {
	padding-top:22px;
	font-size:20px;
	color:#f0f0f0;
	line-height:30px;
	font-weight:normal;
}
.bt_company_more {
	padding-top:24px;
}

/* container1 */
#container1 {
	width:100%;
	text-align:center;
	padding-bottom:90px;
}
.container1_inner {
	width:1020px;
	display:inline-block;
	padding-top:90px;
}
#container1 .title {
	font-size:28px;
	color:#2c3e50;
	line-height:40px;
	font-weight:bold;
}
#container1 .title_b {
	font-size:28px;
	color:#2981cf;
	line-height:40px;
	font-weight:bold;
}
#container1 .title_r {
	font-size:28px;
	color:#2c3e50;
	line-height:40px;
	font-weight:normal;
}
#container1 .icon_img {
	display:inline-block;
	text-align:center;
	width:19.5%;
	padding-top:50px;
	vertical-align:top;
}
#container1 .text1 {
	font-size:16px;
	line-height:20px;
	color:#404d6d;
	font-weight:normal;
}

/* container2 */
#container2 {
	width:100%;
	text-align:center;
	padding-bottom:70px;
	background-color:#eaeff4;
	
}
.container2_inner {
	width:1020px;
	display:inline-block;
	padding-top:70px;
}
#container2 .title {
	font-size:32px;
	color:#2c3e50;
	line-height:40px;
	font-weight:bold;
	padding-bottom:40px;
}
#container2 .video {
	background-color:#a8aeb4;
	text-align:center;
	height:575px;
	vertical-align:bottom;
}

/* container3 */
#container3 {
	width:100%;
	text-align:center;
	padding-bottom:20px;
}
.container3_inner {
	width:1100px;
	display:inline-block;
	padding-top:20px;
}
#container3 .title {
	font-size:32px;
	color:#2c3e50;
	line-height:40px;
	font-weight:bold;
}
#container3 .sub_text {
	font-size:18px;
	color:#96a1b7;
	line-height:26px;
	font-weight:normal;
	padding-bottom:40px;
}

/* container4 */
#container4 {
	width:100%;
	text-align:center;
	padding-bottom:70px;
	background-color:#f7f8fa;
}
.container4_inner {
	width:1020px;
	display:inline-block;
	padding-top:70px;
}
#container4 .title {
	font-size:26px;
	color:#2c3e50;
	line-height:40px;
	font-weight:bold;
}
#container4 .sub_text {
	font-size:20px;
	color:#2c3e50;
	line-height:28px;
	font-weight:normal;
	padding-bottom:20px;
}
#container4 .sub_text2 {
	font-size:15px;
	color:#96a1b7;
	line-height:26px;
	font-weight:normal;
	padding-bottom:40px;
}

/* footer */
#footer{
	border-top:2px solid #d7d7d7;
	width:100%;
	height:210px;
	text-align:center;
}
.footer_menu {
	background-color:#f0f1f2;
	font-size:13px;
	color:#797979;
	line-height:19px;
	height:50px;
	padding:15px 0;
}
.footer_menu a {
	font-size:13px;
	color:#797979;
	line-height:19px;
}
.footer_menu a:visited {font-size:13px; line-height:19px; color:#797979; TEXT-DECORATION: none}
.footer_menu a:active {font-size:13px; line-height:19px; color:#797979; TEXT-DECORATION: none}
.footer_menu a:hover {font-size:13px; line-height:19px; color:#333333; TEXT-DECORATION: none}

.footertext {
	font-size:12px;
	color:#797979;
	line-height:19px;
	margin:30px;
	letter-spacing:-0.2pt;
	font-weight:normal;
}